.small { font-size:11px; }
.gray { color:#a2b0b6; }
.hightlight { background-color:#d6e7c7; }

a:link, a:visited, a:hover, a:active { color: #66AACC; } 
a:link, a:visited, a:active { text-decoration: none; }
a:hover { font-size:125%; text-decoration: underline; }
h1, h2, h3 { color: #3B5526; }
a { -moz-outline: none; }

body {
  color: #222;
  background: #ebfadf;

  background: -moz-linear-gradient(left, #ebfadf, #EEEEEE);

  background: -webkit-gradient(linear,left top, right top, from(#ebfadf), to(#EEEEEE));

  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ebfadf', EndColorStr='#EEEEEE', GradientType=0);

  font-family: helvetica, arial, sans-serif;
}

hr {
  background: #f0f0ee; 
  color: #f0f0ee;
}

#header {

}

#header h1{
  padding: 10px 0;
  font-weight: bold;

}

#header h1 a:link, #header h1 a:active, 
#header h1 a:hover, #header h1 a:visited {
  color: #3B5526;
}

#main .block .content {
  background: #FFF;
  padding-top: 1px;
-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
}

#main .block .content h2 {
  margin-left: 15px;
}

#main .content {
 border: 1px solid #81B953;}

#main-navigation {
  background: #3B5526;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

#main-navigation ul li:hover {
  background-color: #5B7745;
}

#main-navigation ul li {
  margin: 4px 0px 4px 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

#main-navigation ul li a {
  padding: 6px 10px 6px 10px;
  font-weight: bold;
  font-size: 1.1em;
}

#main-navigation ul li.active {
  border-bottom: none;
  font-weight: bold;
}

#main-navigation ul li a:hover,
#main-navigation ul li a:link, 
#main-navigation ul li a:visited, 
#main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, 
.secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {
  text-decoration: none;
  color: #FFF;
}

#user-navigation ul li a:link, 
#user-navigation ul li a:visited,  
#user-navigation ul li a:active {
	color: #3B5526;
}

#user-navigation ul li a:hover { color: #fff; }

#main-navigation ul li.active a:link, 
#main-navigation ul li.active a:visited, 
#main-navigation ul li.active a:hover, 
#main-navigation ul li.active a:active {
  background-color: #81B953;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.secondary-navigation {
  background: #3B5526;
  border-bottom: 5px solid #81b953;
}

.secondary-navigation ul li a {
display:block;
padding: 8px 12px;
}

.secondary-navigation ul li.active {background: #81b953;  font-weight: bold;}
.secondary-navigation ul li.active a:hover {
  background-color: #81B953;
}

.secondary-navigation li a:hover {
  background: #81B953;
}

#quicklinks ul {
  padding-left: 20px;
}

#footer .block {  
  color: #FFF;
  background: #3B5526;
}

#footer .block p {      
  margin: 0;  
  padding: 5px;
}

/* pagination */

.pagination span.current {
  background: #262626;
  color: #FFF;
  border-color: #262626;
}

.pagination a {
  color: #262626;
  border-color: #262626;
}

.pagination a:hover {
    color: #FFF;
    background: #262626;
}

/* tables */


.table th {
  background: #253618;
  color: #FFF;
}

.table tr th { padding: 5px; }

.table td {
  border-bottom:1px solid #F0F0EE;
}
.table tr.odd {background: #ebfadf;}
.table tr.even {background: #d3e8c1;}


/* forms */

.form input.text_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid #262626;
}

.form input.button {
  background: #EEE;
  color: #262626;
  padding: 2px 5px;
  border: 1px solid #262626;
  cursor: pointer;
}

.form .description {
  font-style: italic;
  color: #8C8C8C;
  font-size: .9em;
}

/* flash-messages */
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align:center;
  margin: 0 auto 15px;

}

.flash .message p {
  margin:8px;
}
.flash .error {
  border: 1px solid #fbb;
  background-color: #fdd;
}
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}
.flash .notice {
  border: 1px solid #1FDF00;
  background-color: #BBFFB6;
}

/* lists */

ul.list li {
  border-bottom-color: #F0F0EE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

ul.list li .item .avatar {
  border-color: #F0F0EE;
  border-width: 1px;
  border-style: solid;
  padding: 2px; 
}

/* box */

#box .block {
  background: #FFF;  
}

#box .block h2 {
  color: #fff;
  background: #3B5526;
}

#box .block .content { border: 1px solid #81b953; border}

/* login */

#block-login {   }
#block-login h2 { background: #3B5526;border-bottom: 5px solid #81b953;}

/* rounded borders */

#main, #main-navigation,
.secondary-navigation, #main .block, #sidebar .block, 
#sidebar h3, ul.list li, #footer .block, 
.form input.button, #box .block, #box .block h2 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}

.secondary-navigation li.first a, 
.secondary-navigation ul li.first, 
.table th.first, .table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}

.table th.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}

.secondary-navigation ul li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}

#sidebar, #sidebar .block, #main .block, 
#sidebar ul.navigation, ul.list li, 
#footer .block, .form input.button, #box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.callout img {
    float:left;
    margin-right: 8px;
}


			#mainpage {
			min-width:1960px;
			min-height:500px;
			padding:0 20px;
			margin-top:20px;
			}
			#left {
			padding:6px 6px 6px 6px;
			background-color:white;
			min-width:500px;
			max-width:60%;
			float:left;
			border-color:#81B953;
			border-width:2px;
			border-style:solid;
			margin: 4px 0px 4px 4px;
			-moz-border-radius-topleft: 4px;
			-webkit-border-top-left-radius: 4px;
			-moz-border-radius-topright: 4px;
			-webkit-border-top-right-radius: 4px;
			-moz-border-radius-bottomleft: 4px;
			-webkit-border-bottom-left-radius: 4px;
			-moz-border-radius-bottomright: 4px;
			-webkit-border-bottom-right-radius: 4px;
			-moz-box-shadow: 10px 10px 5px #888;
			-webkit-box-shadow: 10px 10px 5px #888;
			box-shadow: 10px 10px 5px #888;
			}
			#right {
			padding:6px 6px 6px 6px;
			overflow:hidden;
			border-color:#81B953;
			border-width:1px;
			border-style:solid;
			background-color:white;
			max-width:28%;
			float:right;
			margin-top:-712px;
			margin-right:5px;
  			-moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			-moz-box-shadow: 10px 10px 5px #888;
			-webkit-box-shadow: 10px 10px 5px #888;
			box-shadow: 10px 10px 5px #888;
			}
			#about {
			padding: 0px 5px 5px 5px;
			height:35px;
			overflow:hidden;
			-moz-transition: all .5s ease-out;
			-webkit-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
			border-style:solid;
			border-width:1px;
			background-color:#e4ebe4;
			  -moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			}
			#about:hover {
			height:80px;
			overflow:hidden;
			       -moz-transition: all .5s ease-in;
    			-webkit-transition: all .5s ease-in;
    			-o-transition: all .5s ease-in;
    			transition: all .5s ease-in;
			}
			#about2 {
			padding: 0px 5px 5px 5px;
			height:35px;
			overflow:hidden;
			-moz-transition: all .5s ease-out;
			-webkit-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
			border-style:solid;
			border-width:1px;
			background-color:#e4ebe4;
			  -moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			}
			#about2 {
			height:80px;
			overflow:hidden;
			       -moz-transition: all .5s ease-in;
    			-webkit-transition: all .5s ease-in;
    			-o-transition: all .5s ease-in;
    			transition: all .5s ease-in;
			}
			#other_shells {
			padding: 0px 5px 5px 5px;
			height:35px;
			overflow:hidden;
			-moz-transition: all .5s ease-out;
			-webkit-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
			border-style:solid;
			border-width:1px;
			background-color:#e4ebe4;
			  -moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			}
			#other_shells:hover {
			height:150px;
			overflow:hidden;
			       -moz-transition: all .5s ease-in;
    			-webkit-transition: all .5s ease-in;
    			-o-transition: all .5s ease-in;
    			transition: all .5s ease-in;
			}
			#other_shells2 {
			padding: 0px 5px 5px 5px;
			height:35px;
			overflow:hidden;
			-moz-transition: all .5s ease-out;
			-webkit-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
			border-style:solid;
			border-width:1px;
			background-color:#e4ebe4;
			  -moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			}
			#other_shells2 {
			height:150px;
			overflow:hidden;
			       -moz-transition: all .5s ease-in;
    			-webkit-transition: all .5s ease-in;
    			-o-transition: all .5s ease-in;
    			transition: all .5s ease-in;
			}
			#example {
			padding: 0px 5px 5px 5px;
			height:35px;
			overflow:hidden;
			-moz-transition: all .5s ease-out;
			-webkit-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
			border-style:solid;
			border-width:1px;
			background-color:#e4ebe4;
			-moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			}
			#example:hover {
			height:215px;
			overflow:hidden;
			       -moz-transition: all .5s ease-in;
    			-webkit-transition: all .5s ease-in;
   			-o-transition: all .5s ease-in;
    			transition: all .5s ease-in;
			}
			#example2 {
			padding: 0px 5px 5px 5px;
			height:35px;
			overflow:hidden;
			-moz-transition: all .5s ease-out;
			-webkit-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
			border-style:solid;
			border-width:1px;
			background-color:#e4ebe4;
			-moz-border-radius-topleft: 4px;
  			-webkit-border-top-left-radius: 4px;
  			-moz-border-radius-topright: 4px;
  			-webkit-border-top-right-radius: 4px;
  			-moz-border-radius-bottomleft: 4px;
  			-webkit-border-bottom-left-radius: 4px;
  			-moz-border-radius-bottomright: 4px;
  			-webkit-border-bottom-right-radius: 4px;
			}
			#example2 {
			height:215px;
			overflow:hidden;
			       -moz-transition: all .5s ease-in;
    			-webkit-transition: all .5s ease-in;
   			-o-transition: all .5s ease-in;
    			transition: all .5s ease-in;

				
	}
	.right_title {
	font-size:35px;
	font-weight:bold;
	font-family: "Raleway";
	text-align:center;
	margin-bottom:15px;
	}
	.t {
	float:left;
	}
	.arrow {
	float:right;
	text-align:center;
	margin-right:10px;
	margin-top:7.5px;
	}
	.button
	{
	float:right;
	text-align:center;
	margin-right:10px;
	margin-top:13px;
	}
	.content {
	margin-top:45px;
	}
	#w3_validator {
	position:fixed;
	bottom:5px;
	right:5px;
	}
			
