<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen" /> -->
    <!-- <link rel="stylesheet" id="current-theme" href="/static/css/style.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="/static/external/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/external/css/responsive-gs-12col.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Gentium+Basic" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/static/SymPy-Favicon.ico" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascript/main.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1><a href="index.html"> <img src="/static/images/logo.png" alt="SymPy Logo" /> SymPy</a></h1>
        <div id="mobile-menu"><i class="icon-ellipsis-vertical"></i></div>
      </header>
      <nav id="main-navigation" class="row">
        {% block navigation %}
        {# "*_active" variables are automatically substituted in the "generate"
        script, make sure that "*" is the same as the filename (without an
        extension) #}
        <ul>
          <li class="{{ index_active }}"><a href="index.html">{% trans %}Main Page{% endtrans %}</a></li>
          <li class="{{ features_active }}"><a href="features.html">{% trans %}Features{% endtrans %}</a></li>
          <li class="{{ download_active }}"><a href="download.html">{% trans %}Download{% endtrans %}</a></li>
          <li class="{{ docs_active }}"><a href="https://docs.sympy.org">{% trans %}Documentation{% endtrans %} <i class="icon-external-link-sign"></i></a></li>
          <li class="{{ support_active }}"><a href="support.html">{% trans %}Support{% endtrans %}</a></li>
          <li class="{{ development_active }}"><a href="development.html">{% trans %}Development{% endtrans %}</a></li>
          <li class="{{ roadmap_active }}"><a href="roadmap.html">{% trans %}Roadmap{% endtrans %}</a></li>
          <li class="{{ donate_active }}"><a href="donate.html">{% trans %}Donate{% endtrans %}</a></li>
          <li><a href="https://live.sympy.org/">{% trans %}Online Shell{% endtrans %} <i class="icon-external-link-sign"></i></a></li>
        </ul>
        {% endblock %}
      </nav>
      <section class="row" id="main">
        <div class="col span_7 clr small_span_4">
          {% block main %}{% endblock %}
          <article id="content">
            {% block content %}{% endblock %}
          </article>
        </div>
        <div id="spacer" class="col span_1 clr small_span_0">&nbsp;</div>
        <aside id="sidebar" class="col span_4 clr small_span_2">
          <div id="search-gamma" class="sidebar_card">
            <h3>{% trans %} Compute with Gamma {% endtrans %}</h3>
            <form method="get" action="https://www.sympygamma.com/input/" target="_blank">
              <input type="text" name="i" />
              <button>{% trans %}Compute{% endtrans %}</button>
            </form>
          </div>
          <div id="about" class="sidebar_card">
            <h3>{% trans %}Download Now{% endtrans %}</h3>
            <p>
              <a href="https://github.com/sympy/sympy/releases">{% trans %}Latest Version{% endtrans %}</a><br/>
              <a href="https://github.com/sympy/sympy">{% trans %}Development Version{% endtrans %}</a>
            </p>
          </div>
          <div id="quick_links" class="sidebar_card">
            <h3>{% trans %}Quick Links{% endtrans %}</h3>
            <ul>
              <li><a href="https://docs.sympy.org/">{% trans %}Documentation{% endtrans %}</a></li>
              <li><a href="https://github.com/sympy/sympy/releases">{% trans %}Downloads (source tarballs){% endtrans %}</a></li>
              <li><a href="https://groups.google.com/group/sympy">{% trans %}Mailing list{% endtrans %}</a></li>
              <li><a href="https://github.com/sympy/sympy">{% trans %}Source code{% endtrans %}</a></li>
              <li><a href="https://github.com/sympy/sympy/issues/">{% trans %}Issues tracker{% endtrans %}</a></li>
              <li><a href="https://github.com/sympy/sympy/wiki">{% trans %}Wiki{% endtrans %}</a></li>
              <li><a href="https://github.com/sympy/sympy/wiki/introduction-to-contributing">{% trans %}Introduction to contributing{% endtrans %}</a></li>
              <li><a href="https://live.sympy.org/">{% trans %}Try SymPy online now{% endtrans %}</a></li>
              <li><a href="https://planet.sympy.org/">{% trans %}Planet SymPy{% endtrans %}</a></li>
              <li><a href="https://gitter.im/sympy/sympy">{% trans %}Chat (Gitter){% endtrans %}</a></li>
              <li><a href="http://colabti.org/irclogger/irclogger_logs/sympy">{% trans %}IRC channel logs{% endtrans %}</a></li>
            </ul>
          </div>
          <div id="social" class="sidebar_card">
            <h3>{% trans %}Follow Us{% endtrans %}<h3>
                <!-- Place this tag where you want the widget to render. -->
                <div class="g-follow" data-annotation="bubble"
                data-height="24"
                data-href="https://plus.google.com/116872266504964122381"
                data-rel="publisher"></div>

                <!-- Place this tag after the last widget tag. -->
                <script type="text/javascript">
                    (function() {
                        var po = document.createElement('script'); po.type =
                        'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(po, s);
                      })();
                    </script>
                <a href="https://twitter.com/sympy"
                class="twitter-follow-button" data-show-count="false"
                data-size="large">Follow @sympy</a>
                <script>!function(d,s,id){var
                js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,
                'script', 'twitter-wjs');</script>
          </div>
          {% block sidebar %}
          {% endblock %}
      </aside>
    </section>
    <footer class="row">
      <p>Copyright &copy; 2020 SymPy Development Team. </p>
      <p>
        {% trans url='https://github.com/sympy/sympy.github.com' %}This page is open source. Fork <a href="{{ url }}">the project on GitHub</a> to edit it.{% endtrans %}
      </p>
      <p>
        {% trans %}Languages{% endtrans %} (beta):
        <a href="../cs/index.html">[Cs]</a>,
        <a href="../de/index.html">[De]</a>,
        <a href="../en/index.html">[En]</a>,
        <a href="../es/index.html">[Es]</a>,
        <a href="../fr/index.html">[Fr]</a>,
        <a href="../nl/index.html">[Nl]</a>,
        <a href="../pt/index.html">[Pt]</a>,
        <a href="../ru/index.html">[Ru]</a>,
        <a href="../zh/index.html">[Zh]</a>
      </p>
    </footer>
  </div>
</body>
</html>
