{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}{% trans %}Development{% endtrans %}{% endblock %}

{% block content %}

<h2 class="title">{% trans %}Development{% endtrans %}</h2>
<div class="inner">
  <p class="first">
    {% trans %}We are interested in any contribution. There are many ways how you can
    contribute{% endtrans %}:
    <ul>
      <li>
        {% trans %}If you wrote anything interesting using SymPy, please send us a patch with the
        code (see below for more information){% endtrans %}.
      </li>

      <li>
        {% trans %}If you found a bug (or just want to let us know what you think), tell us on the
        <a href="https://groups.google.com/group/sympy">mailinglist</a>{% endtrans %}. {% trans %}You can also
        add a bug report (or a comment) into the <a href="https://github.com/sympy/sympy/issues/">issues</a>.{% endtrans %}
      </li>
      <li>{% trans %}You can blog about how you use SymPy{% endtrans %}.</li>
      <li>{% trans %}You can help us write documentation (just send us a patch){% endtrans %}.</li>
      <li>{% trans %}You can help people on our <a href="https://groups.google.com/group/sympy">mailinglist</a>{% endtrans %}.</li>
      <li>{% trans %}You can help with reviewing patches{% endtrans %}.</li>
      <li>{% trans %}You can send us patches with bug fixes or new features{% endtrans %}.</li>
    </ul>
  </p>
  <p>
    {% trans %}The best way to contribute code or documentation is to send us a patch{% endtrans %}.
  </p>
</div>

<h2 class="title">{% trans %}How to Send a Patch{% endtrans %}</h2>
<div class="inner">
  <p class="first">
    {% trans %}The best way is to send a github pull request
    against the <a href="https://github.com/sympy/sympy">sympy/sympy</a> repository.
    We'll review it and push it in.{% endtrans %}
  </p>

  <p>
    {% trans %}If you need help with git, github, pull requests, patches, coding, SymPy or
    anything related, just send us an email to the <a href="https://groups.google.com/forum/#!forum/sympy">mailinglist</a>
    or ask on <a href="https://gitter.im/sympy/sympy">Gitter</a>, we'll be happy to help.{% endtrans %}
    {% trans %}Also, you can read our instructions
    <a href="https://github.com/sympy/sympy/wiki/Development-workflow">
      how to prepare patches</a> using git and github.{% endtrans %}
  </p>

  <p>
    {% trans %}The github pull request is a preferred method, as that makes it easy for us to
    review and push the code in. That said,
    you can also clone the latest git repository (see the link on the right), prepare a branch with
    your code, upload it somewhere (for example <a href="https://github.com/">github</a>) and send us a link
    to the <a href="https://groups.google.com/forum/#!forum/sympy">sympy</a>
    mailinglist, or you can even send us raw patches --- but it will be more work
    for us to integrate it.{% endtrans %}
  </p>

  <p>
    {% trans %}SymPy has a broad <a href="https://docs.sympy.org/dev/aboutus.html#sympy-development-team">development team</a>, send us a patch and your name will appear there too.{% endtrans %}
  </p>

</div>
<h2 class="title">{% trans %}Sources of the Webpages{% endtrans %}</h2>
<div class="inner">
  <p class="first">
    {% trans %}Sources of these webpages are at{% endtrans %}:
    <a href="https://github.com/sympy/sympy.github.com">https://github.com/sympy/sympy.github.com</a>
  </p>
  {% trans %}Feel free to send us patches with improvements.{% endtrans %}
</div>

{% endblock %}


{% block sidebar %}

<div id="about" class="sidebar_card">
    <h3>{% trans %}Git Repository{% endtrans %}</h3>
    <p>
        {% trans %}Main git repository{% endtrans %}:<br/>
        <code>git clone git://github.com/sympy/sympy.git</code>
    </p>
    <p>
        {% trans %}Online access{% endtrans %}: <a href="https://github.com/sympy/sympy">github.com/sympy/sympy</a>
    </p>
</div>
{% endblock %}
