{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}Vývoj{% endblock %}

{% block content %}

<h2 class="title">Vývoj</h2>
<div class="inner">
<p class="first">
Máme zájem o jakékoliv  Je spoustu způsobů jak přispět:
<ul>
    <li>
Pokud jste napsali cokoliv zajímavého s pomocí SymPy, prosím pošlete nám patch
s tímto kódem (více informací níže)
</li>

<li>
Pokud jste objevili chybu (nebo nám jednoduše chcete dát vědět váš názor),
řekněte nám ho na
<a href="http://groups.google.com/group/sympy">mailinglistu</a>.
Můžete také přidat hlášení chyby (nebo komentář)
k <a href="http://code.google.com/p/sympy/issues/list">problémům</a>.
</li>
<li>Můžete blogovat o tom jak používáte SymPy.</li>
<li>Můžete nám pomoct psát dokumentaci (stačí poslat patch).</li>
<li>Můžete pomoct lidem v našem <a href="http://groups.google.com/group/sympy">mailinglistu</a>.</li>
<li>Můžete pomoct s revizí patchů.</li>
<li>Můžete nám poslat patche s opravami chyb nebo novými funkcemi.</li>
</ul>
</p>
<p>
Nejlepší způsob jak přispívat kód nebo dokumentaci je posláním patche.
</p>
</div>

<h2 class="title">Jak poslat Patch</h2>
<div class="inner">
<p class="first">
Nejlepší způsob je poslat na github pull request na
<a href="http://github.com/sympy/sympy">sympy/sympy</a> repozitář. My ho
zkontrolujeme a přidáme.
</p>

<p>
Pokud potřebujete pomoct s gitem, githubem, pull requesty, patchy,
vytvářením kódu, SymPy nebo čímkoliv souvisejícím, jednoduše napište email na
mailinglistu nebo se zeptejte na IRC (náš kanál je
<a href="irc://irc.freenode.net/sympy">#sympy at freenode</a>), my pomůžeme.
Také si můžete přečíst intrukce
<a href="https://github.com/sympy/sympy/wiki/Development-workflow">
jak připravovat patche</a> s použitím gitu a githubu.
</p>

<p>
Github pull request je námi preferovaný způsob, protože je pro nás jednoduché
zkontrolovat a zapojit váš kód. Můžete ovšem také naklonovat nejnovější
git repozitář (viz odkaz vpravo), připravit úsek s vaším kódem, nahrát ho někam
(například na <a href="http://github.com/">github</a>) a poslat nám odkaz na
<a href="http://groups.google.com/group/sympy-patches">sympy-patches</a>
mailinglist nebo nám můžete dokonce poslat přímo samotný patch --- ale dá nám
pak více práce ho zapojit.
</p>

<p>
SymPy má široký vývojářský tým:
<a href="
http://docs.sympy.org/0.7.1/aboutus.html#sympy-development-team
">
http://docs.sympy.org/0.7.1/aboutus.html#sympy-development-team
</a>, pošlete nám patch a vaše jméno se na něm také objeví.
</p>

</div>
<h2 class="title">Zdrojový kód Webových stránek</h2>
<div class="inner">
<p class="first">
Zdrojový kód těchto webových stránek je na:
<a href="http://github.com/sympy/sympy.github.com">http://github.com/sympy/sympy.github.com</a>
</p>
Nezdráhejte se nám poslat patch s vylepšeními.
</div>

{% endblock %}


{% block sidebar %}

<div class="block">
  <h3>Git Repozitář</h3>
  <div class="content">
    <p>
    Hlavní git repozitář:<br/>
    <code>git clone git://github.com/sympy/sympy.git</code>
    </p>
    <p>
    Online přístup: <a href="http://github.com/sympy/sympy">github.com/sympy/sympy</a>
    </p>
  </div>
</div>

{% endblock %}
