{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}{% trans %}Donate{% endtrans %}{% endblock %}

{% block main %}
<section id="banner">
  <h2 class="title">{% trans %}Support SymPy Development{% endtrans %}</h2>
  <div class="inner">
    <p class="first">
      {% trans %} All donations will be used strictly to fund SymPy development, by supporting
tasks such as developer sprints, improved documentation, fixing bugs, and paying
for hosting costs for services such as the
<a href="https://live.sympy.org/">SymPy Online Shell</a>.{% endtrans %}

    </p>

    <section id="get-started">
    <p>{% trans
    %}<a href="https://numfocus.salsalabs.org/donate-to-sympy/index.html">DONATE
    NOW</a> {% endtrans %}</p>
  </div>
</section>

{% endblock %}

{% block content %}

<h2 class="title">{% trans %}Support SymPy Development{% endtrans %}</h2>
<div class="inner">
<p class="first">
{% trans %}SymPy will always be 100% open source software, free for all to use,
and released under the liberal terms of the modified BSD license.
{% endtrans %}
</p>

<p class="second">
{% trans %}
Our donations are managed by the
<a href="https://numfocus.org/">NumFOCUS</a> foundation, which your
contribution to the SymPy project.  NumFOCUS is a 501(c)3 non-profit
foundation, so if you are subject to US Tax law, your contributions will be
tax-deductible.  {% endtrans %}
</p>
</div>

{% endblock %}
