{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}Stáhnout{% endblock %}

{% block content %}

<h2 class="title">Zdrojový kód (jednotlivá vydání)</h2>
<div class="inner">
<p class="first">
<a href="http://code.google.com/p/sympy/downloads/list">Stáhnout</a>
(na stránkách Google Code)
</p>
</div>

<h2 class="title">Balíčky pro distribuce</h2>
<div class="inner">
<p class="first">
<a href="http://code.google.com/p/sympy/wiki/DownloadInstallation?tm=2">Stáhnout</a>
(na stránkách Google Code)
</p>
</div>

<h2 class="title">Git Verze</h2>
<div class="inner">
<p class="first">
Hlavní git repozitář:
<pre>
git clone git://github.com/sympy/sympy.git
</pre>
</p>
<p>
Hledejte online:
<a href="http://github.com/sympy/sympy">github.com/sympy/sympy</a>
</p>
</div>

{% endblock %}
