{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}Свали{% endblock %}

{% block content %}

<h2 class="title">Източник на архиви (Издания)</h2>
<div class="inner">
<p class="first">
<a href="http://code.google.com/p/sympy/downloads/list">Свали</a>
(на страницата на Google Code)
</p>
</div>

<h2 class="title">Пакети за дистрибуции</h2>
<div class="inner">
<p class="first">
<a href="http://code.google.com/p/sympy/wiki/DownloadInstallation?tm=2">Свали</a>
(на страницата на Google Code)
</p>
</div>

<h2 class="title">Git Версия</h2>
<div class="inner">
<p class="first">
Основно git хранилище:
<pre>
git clone git://github.com/sympy/sympy.git
</pre>
</p>
<p>
Разгледайте онлайн:
<a href="http://github.com/sympy/sympy">github.com/sympy/sympy</a>
</p>
</div>

{% endblock %}
