{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}Pobieranie{% endblock %}

{% block content %}

<h2 class="title">Źródłowe tarballe (wydania)</h2>
<div class="inner">
<p class="first">
<a href="http://code.google.com/p/sympy/downloads/list">Pobierz</a>
(ze strony Google Code)
</p>
</div>

<h2 class="title">Pakiety dla dystrybucji</h2>
<div class="inner">
<p class="first">
<a href="http://code.google.com/p/sympy/wiki/DownloadInstallation?tm=2">Pobierz</a>
(ze strony Google Code)
</p>
</div>

<h2 class="title">Wersja git</h2>
<div class="inner">
<p class="first">
Główne repozytorium git:
<pre>
git clone git://github.com/sympy/sympy.git
</pre>
</p>
<p>
Przeglądaj online:
<a href="http://github.com/sympy/sympy">github.com/sympy/sympy</a>
</p>
</div>

{% endblock %}
