{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}SymPy{% endblock %}

{% block content %}

<h2 class="title">Относно</h2>
<div class="inner">
<p class="first">
SymPy е библиотека на Python за символна математика.
Тя цели да стане пълнофункционална алгебрична система (CAS), като поддържа кода възможно най-опростен с цел да бъде разбираем и лесен за разширяване.
SymPy е изцяло написана на Python и не изисква външни библиотеки.
</p>
</div>

<h2 class="title">Функционалности</h2>
<div class="inner">
<p class="first">
Възможностите на ядрото на SymPy включват:
<ul>
    <li>базова аритметика <code>*,/,+,-,**</code></li>
    <li>базово опростяване (например <code>a*b*b + 2*b*a*b -&gt; 3*a*b**2)</code></li>
    <li>обяснения (като <code>(a+b)**2 -&gt; a**2 + 2*a*b + b**2</code>)</li>
    <li>функции (exp, ln, ...)</li>
    <li>комплексни числа (като exp(I*x).expand(complex=True) -&gt;
    cos(x)+I*sin(x))</li>
    <li>разграничаване</li>
    <li>серии на taylor (laurent)</li>
    <li>заместване (като <code>x -&gt; ln(x)</code>, или
        <code>sin -&gt; cos</code>)</li>
    <li>случайни цели, рационални и с плаваща запетая числа</li>
    <li>некомуникативни символи</li>
    <li>сравняване на модели</li>
</ul>
</p>
<p>
След това има три SymPy модула за следните задачи:
<ul>
    <li>повече функции (sin, cos, tan, atan, asin, acos, factorial, zeta,
    legendre)</li>
    <li>ограничения (като <code>limit(x*log(x), x, 0) -&gt; 0</code>)</li>
    <li>интеграция, използвайки разширените алгоритми на Risch-Norman</li>
    <li>полиноми (деление, gcd, свободна декомпресия на квадрати, бази на groebner, факторизация)
    <li>калкулатори (алгебрични, различни и диференциални равенства и системи равенства)</li>
    <li>символни матрици (детерминанти, LU разлагане...)</li>
    <li>mpmath (мултипрецизна аритметика за числа с плаваща запетая)</li>
    <li>геометрична алгебра (GA)</li>
    <li>алгебра на Pauli и Dirac</li>
    <li>квантова физика</li>
    <li>геометричен модул</li>
    <li>планове (2D and 3D)</li>
    <li>генериране на код (C, Fortran, LaTeX)</li>
</ul>
</p>
</div>

{% endblock %}


{% block sidebar %}

<div class="block">
  <h3>Свали сега</h3>
  <div class="content">
<p>
Издания: <a href="http://code.google.com/p/sympy/downloads/list">Google Code сваляния</a><br/>
Последни git версии: <a href="http://github.com/sympy/sympy">github.com/sympy/sympy</a>
</p>
  </div>
</div>

<div class="block">
  <h3>Новини</h3>
  <div class="content">
<p>
<span class="date">29 Jul 2011</span> Версия 0.7.1 излезе (<a href="https://github.com/sympy/sympy/wiki/Release-Notes-for-0.7.1">промени</a>)<br/>
<span class="date">28 Jun 2011</span> Версия 0.7.0 излезе (<a href="https://github.com/sympy/sympy/wiki/Release-Notes-for-0.7.0">промени</a>)<br/>
<span class="date">18 Mar 2011</span> SymPy е приет като <a href="http://www.google-melange.com/gsoc/org/show/google/gsoc2011/sympy">наставителна компания</a> за Google Summer of Code 2011<br/>
<span class="date">23 Oct 2010</span> Нов уеб сайт излезе на sympy.org<br/>
<span class="date">17 Mar 2010</span> Версия 0.6.7 излезе (<a href="http://code.google.com/p/sympy/wiki/Changes">промени</a>)<br/>
<span class="date">20 Dec 2009</span> Версия 0.6.6 излезе (<a href="http://code.google.com/p/sympy/wiki/Changes">промени</a>)<br/>
<span class="date">26 Sep 2009</span> Последна страница относно <a href="http://code.google.com/p/sympy/wiki/GSoC2009">2009 Google Summer of Code in SymPy</a> е
налична.
</p>
  </div>
</div>

<div id="quicklinks" class="block">
  <h3>Бързи връзки</h3>
  <div class="content">
    <p>
      <ul>
        <li><a href="http://docs.sympy.org/">Документация</a></li>
        <li><a href="http://code.google.com/p/sympy/downloads/list">Сваляния (източник на архиви)</a></li>
        <li><a href="http://code.google.com/p/sympy/wiki/DownloadInstallation?tm=2">Сваляния (Пакети за дистрибуции)</a></li>
        <li><a href="http://groups.google.com/group/sympy">Пощенски лист</a></li>
        <li><a href="http://github.com/sympy/sympy">Сорс код</a></li>
        <li><a href="http://code.google.com/p/sympy/issues/list">Следена за проблеми</a></li>
        <li><a href="http://code.google.com/p/sympy/">Google Code страница</a></li>
        <li><a href="http://github.com/sympy/sympy/wiki">Wiki</a></li>
        <li><a href="http://live.sympy.org/">Пробвай SymPy онлайн сега</a></li>
        <li><a href="http://sympy.blogspot.com/">Официален SymPy блог</a></li>
        <li><a href="http://planet.sympy.org/">Planet SymPy</a></li>
      </ul>
    </p>
  </div>
</div>

{% endblock %}
