{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}SymPy{% endblock %}

{% block content %}

<h2 class="title">Beschreibung</h2>
<div class="inner">
<p class="first">
SymPy ist eine Python-Library für symbolische Mathematik.
Ziel des Projekts ist es, ein komplettes komplettes Computeralgebra-System (CAS),
mit möglichst einfach gehaltenem Code, zu entwickeln, sodass es später leicht
verständlich und gut erweiterbar ist. SymPy ist vollständig in Python geschrieben
und benötigt keine externen Libraries.
</p>
</div>

<h2 class="title">Features</h2>
<div class="inner">
<p class="first">
Die SymPy-Basis enthält folgende Funktionen:
<ul>
    <li>Einfache Artihmetik <code>*,/,+,-,**</code></li>
    <li>Grundlegende Vereinfachungen (wie <code>a*b*b + 2*b*a*b -&gt; 3*a*b**2)</code></li>
    <li>Expansion (wie <code>(a+b)**2 -&gt; a**2 + 2*a*b + b**2</code>)</li>
    <li>Funktionen (exp, ln, ...)</li>
    <li>Komplexe Zahlen (wie exp(I*x).expand(complex=True) -&gt;
    cos(x)+I*sin(x))</li>
    <li>Differenzieren</li>
    <li>Taylorreihen (Laurent-Reihen)</li>
    <li>Substitution (wie <code>x -&gt; ln(x)</code>, oder
        <code>sin -&gt; cos</code>)</li>
    <li>Rationale Zahlen und Gleitkommazahlen</li>
    <li>Nichtkommutative Symbole</li>
    <li>Pattern Matching</li>
</ul>
</p>
<p>
Außerdem gibt es SymPy-Module für folgende Aufgaben:
<ul>
    <li>Weitere Funktionen (sin, cos, tan, atan, asin, acos, factorial (Fakultät), zeta,
    legendre)</li>
    <li>Grenzwerte (wie <code>limit(x*log(x), x, 0) -&gt; 0</code>)</li>
    <li>Integration unter Verwendung erweiterter Risch-Norman-Heuristik</li>
    <li>Polynome (Division, größter gemeinsamer Teiler, wurzelfreie Zerlegung, Gröbnerbasis, Faktorisierung)
    <li>Gleichungsauflöser (algebraisch, Differenzen- und Differentialgleichungen, Gleichungssysteme)</li>
    <li>Symbolische Matrizen (Determinante, LU-Zerlegung ...)</li>
    <li>mpmath (multiprecision floating-point arithmetic)</li>
    <li>Geometrische Algebra (GA)</li>
    <li>Pauli- und Dirac-Algebra</li>
    <li>Quantenphysik</li>
    <li>Geometrie-Modul</li>
    <li>Plotten (2D und 3D)</li>
    <li>Codeerzeugung (C, Fortran, LaTeX)</li>
</ul>
</p>
</div>

{% endblock %}


{% block sidebar %}

<div class="block">
  <h3>Jetzt herunterladen</h3>
  <div class="content">
<p>
Releases: <a href="http://code.google.com/p/sympy/downloads/list">Google Code Downloads</a><br/>
Aktuellste git version: <a href="http://github.com/sympy/sympy">github.com/sympy/sympy</a>
</p>
  </div>
</div>

<div class="block">
  <h3>News</h3>
  <div class="content">
<p>
<span class="date">29 Jul 2011</span> Version 0.7.1 released (<a href="https://github.com/sympy/sympy/wiki/Release-Notes-for-0.7.1">changes</a>)<br/>
<span class="date">28 Jun 2011</span> Version 0.7.0 released (<a href="https://github.com/sympy/sympy/wiki/Release-Notes-for-0.7.0">changes</a>)<br/>
<span class="date">18 Mar 2011</span> SymPy is accepted as a <a href="http://www.google-melange.com/gsoc/org/show/google/gsoc2011/sympy">mentoring organization</a> for Google Summer of Code 2011<br/>
<span class="date">23 Oct 2010</span> New website launched at sympy.org<br/>
<span class="date">17 Mar 2010</span> Version 0.6.7 released (<a href="http://code.google.com/p/sympy/wiki/Changes">changes</a>)<br/>
<span class="date">20 Dec 2009</span> Version 0.6.6 released (<a href="http://code.google.com/p/sympy/wiki/Changes">changes</a>)<br/>
<span class="date">26 Sep 2009</span> Final page about the <a href="http://code.google.com/p/sympy/wiki/GSoC2009">2009 Google Summer of Code in SymPy</a> is
available.
</p>
  </div>
</div>

<div id="quicklinks" class="block">
  <h3>Quick Links</h3>
  <div class="content">
    <p>
      <ul>
        <li><a href="http://docs.sympy.org/">Dokumentation</a></li>
        <li><a href="http://code.google.com/p/sympy/downloads/list">Downloads (Quellcode-Tarballs)</a></li>
        <li><a href="http://code.google.com/p/sympy/wiki/DownloadInstallation?tm=2">Downloads (Pakete für Distributionen)</a></li>
        <li><a href="http://groups.google.com/group/sympy">Mailing List</a></li>
        <li><a href="http://github.com/sympy/sympy">Source Code</a></li>
        <li><a href="http://code.google.com/p/sympy/issues/list">Issues Tracker</a></li>
        <li><a href="http://code.google.com/p/sympy/">Seite auf Google Code</a></li>
        <li><a href="http://github.com/sympy/sympy/wiki">Wiki</a></li>
        <li><a href="http://live.sympy.org/">SymPy online testen</a></li>
        <li><a href="http://sympy.blogspot.com/">Offizieller SymPy blog</a></li>
        <li><a href="http://planet.sympy.org/">Planet SymPy</a></li>
      </ul>
    </p>
  </div>
</div>

{% endblock %}
