{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}{% trans %}Development{% endtrans %}{% endblock %}

{% block content %}

<h1 class="title">{% trans %}Roadmap{% endtrans %}</h2>
<div class="inner">
  <p class="first">
    {% trans %}Broadly speaking, any form of purely symbolic mathematical computation is
    in scope for SymPy. However, there are a few things we plan to focus our
    development efforts on.{% endtrans %}
  </p>

<h3 class="title">{% trans %}The Assumptions System{% endtrans %}</h3>
<div class="inner">
  <p class="first">
    {% trans %}The assumptions system handles how SymPy makes assumptions on
    expressions and does logical inference and simplification based on those
    assumptions (for instance, assuming an expression is "positive" or
    "integer"). The SymPy assumptions system is currently in a state of
    disarray, as there is a "new" system and an "old" system that need to be
    properly merged. However, because assumptions affect every part of the
    codebase, this is a challenging task.{% endtrans %}
  </p>
</div>


<h3 class="title">{% trans %}Code Generation{% endtrans %}</h3>
<div class="inner">
  <p class="first">
    {% trans %}Code generation refers to the task of converting SymPy
      expressions into another language, such as C or Fortran, for the
      purposes of fast numerical evaluation. The goal with code generation is
      to be able to use SymPy to model a problem symbolically, and then
      seamlessly convert that symbolic model into fast code that can be
      numerically evaluated on real data. Our roadmap for code generation is
      to make that translation as seamless as possible, through things like
      higher level abstractions that reduce the amount of work needed by the
      end user, an optimization pipeline, which would allow SymPy to take
      advantage of its mathematical knowledge to create faster and more
      accurate code, and more tools to help solve domain specific problems.{%
      endtrans %}
  </p>
</div>


<h3 class="title">{% trans %}Performance{% endtrans %}</h3>
<div class="inner">
  <p class="first">
    {% trans %}Performance is an important aspect in symbolic computation.
      SymPy often suffers in terms of performance due to it being written in
      pure Python. There are a few ways that SymPy can be made more
      performant. One is to more carefully benchmark and profile SymPy code,
      so that inefficiencies can be rooted out. This includes tooling to
      prevent performance regressions from ever occurring in the first place.
      Second is to have a fast symbolic core that can be optionally plugged in
      to make SymPy's core operations faster. The plan is to use
      the <a href="https://github.com/symengine/symengine">SymEngine</a>
      library as an optional fast symbolic core for SymPy. SymEngine is a
      symbolic library written in C++, with an emphasis on performance. A
      third way SymPy can be made more performant is by implementing faster
      symbolic algorithms for various computations (see below).{% endtrans %}
  </p>
</div>



<h3 class="title">{% trans %}SymPy Live and SymPy Gamma{% endtrans %}</h3>
<div class="inner">
  <p class="first">
    {% trans %}<a href="https://live.sympy.org/">SymPy Live</a> is a web
      application that runs a full SymPy Python session in the browser. It can
      be used standalone, and is also used in
      the <a href="https://docs.sympy.org/latest/index.html">SymPy
      documentation</a> to allow readers to interactively evaluate the
      documentation examples. The backend of SymPy Live needs modernization,
      and there are several possible improvements for the frontend as
      well.<p><p><a href="https://gamma.sympy.org/">SymPy Gamma</a> is a web
      application that takes a mathematical formula and performs many useful
      calculations on it, such as plotting, solving, simplifying, and symbolic
      integration. The goal of SymPy Gamma is to be an open source competitor
      to things like <a href="https://wolframalpha.com/">WolframAlpha</a>. We
      aim to improve SymPy Gamma by adding more useful computations to the
      output, and by improving the parsing so that users do not need to know
      SymPy syntax to use it.{% endtrans %}
  </p>
</div>


<h3 class="title">{% trans %}Algorithmic Improvements{% endtrans %}</h3>
<div class="inner">
  <p class="first">
    {% trans %}SymPy depends on a large array
      of symbolic computation algorithms to work. Many algorithms are already
      implemented, but quite a few are not. These include things like improved
      algorithms for symbolic integration, summations, simplification,
      polynomial manipulation, and equation solving, among many others.
      Improved algorithms will both increase the number of symbolic
      computations that SymPy is able to successfully compute, and, in many
      cases, greatly improve the performance of existing algorithms. A good
      resource for the sorts of things we want to implement is
      our <a href="https://github.com/sympy/sympy/wiki/GSoC-2017-Ideas">Google
      Summer of Code ideas page</a>.{% endtrans %}
  </p>
</div>


<h3 class="title">{% trans %}General Improvements{% endtrans %}</h3>
<div class="inner">
  <p class="first">
    {% trans %}Aside from the above specific items, we are always aiming to
    improve SymPy in many ways. This includes things like <ul><li>fixing bugs</li><li>better
    documentation</li><li>improved development tooling</li><li>new features</li><li>better
    community outreach</li></ul>{% endtrans %}
  </p>
</div>

{% endblock %}


{% block sidebar %}

<div id="about" class="sidebar_card">
    <h3>{% trans %}Git Repository{% endtrans %}</h3>
    <p>
        {% trans %}Main git repository{% endtrans %}:<br/>
        <code>git clone git://github.com/sympy/sympy.git</code>
    </p>
    <p>
        {% trans %}Online access{% endtrans %}: <a href="https://github.com/sympy/sympy">github.com/sympy/sympy</a>
    </p>
</div>
{% endblock %}
