{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}{% trans %}Support{% endtrans %}{% endblock %}

{% block content %}

<h2 class="title">{% trans %}General{% endtrans %}</h2>
<div class="inner">
  <p class="first">
    {% trans %}Below you can find several ways to get help{% endtrans %}:
  </p>
  <p>
    <ul>
      <li>{% trans %} SymPy <a href="http://docs.sympy.org">Documentation</a>{% endtrans %}</li>
      <li>{% trans %} Main <a href="https://groups.google.com/forum/#!forum/sympy">mailinglist</a> {% endtrans %}</li>
      <li>{% trans %}<a href="https://github.com/sympy/sympy/issues/">Issue tracker</a>.{% endtrans %}
      </li>
      <li>{% trans %}Gitter channel: <a href="https://gitter.im/sympy/sympy">#sympy at Gitter</a>.{% endtrans %}</li>
    </ul>
  </p>
</div>

<h2 class="title">{% trans %}More Specific{% endtrans %}</h2>
<div class="inner">
  <p class="first">
    <ul>
      <li>{% trans %} SymPy <a href="http://docs.sympy.org/latest/tutorial/index.html">tutorial</a> {% endtrans %}</li>
      <li>{% trans %} Main <a href="https://github.com/sympy/sympy/wiki/Faq">FAQ</a> {% endtrans %}</li>
      <li>{% trans %}<a href="http://docs.sympy.org/latest/gotchas.html">Gotchas and Pitfalls</a>{% endtrans %}
      </li>
    </ul>
  </p>
</div>

{% endblock %}
